:root {
  --main-branding-color: #f8e8a6;
}
.body-tone {
  background-color: var(--main-branding-color);
}
div a {
  color: green;
  font-size: 16px;
  max-width: 100px;
  padding-top: 30px;
}
h1 {
  font-size: 28px;
  padding-top: 30px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
p {
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-left: 180px;
}
